
:root {
  --brand-color: #409EFF;
}


::-webkit-scrollbar {
  display: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 481px) {
  html,body {
    min-width: 1268px;
  }
}
@media screen and (max-width: 481px) {
  html,body {
    font-size: 10px;
  }
}